.container {
  position: relative;
}

.suggestions {
  position: absolute;
  z-index: 99000;
  background: var(--color-shade-three);
  width: 100%;
  max-height: 8rem;
  overflow: auto;
  border: 1px solid var(--color-shade-two);
  padding: 0.5em;
}

.filter {
  display: flex;
  gap: 0.25em;
  position: relative;
  transition: background-color 0.1s ease-in;
  background: none;
  color: var(--color-text);
  text-align: left;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  width: 100%;
}

.filter:hover {
  color: var(--color-primary);
}

.filter img {
  width: 1.5em;
  height: 1.5em;
}

.filter svg {
  height: 0.5em;
  width: 0.5em;
}

.label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  height: 2rem;
}
