.container {
  display: grid;
  row-gap: 1rem;
}

.tokenContainer {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr auto auto auto;
}

.label {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

.label input {
  border: 1px solid var(--color-shade-three);
  padding: 0.4em;
}
