.container {
  display: grid;
  align-content: start;
  position: relative;
  width: 0;
  max-width: calc(100vw - 30px);
  transition: width 0.3s ease-in-out;
}

.content {
  position: absolute;
  background: var(--color-shade-one);
  left: 0;
  width: 400px;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.open {
  transform: none;
  width: 400px;
}

.nav {
  position: absolute;
  left: 100%;
  top: 141px;
  z-index: 9000;
  pointer-events: none;
}

.nav > * {
  pointer-events: all;
}

.nav__button {
  padding: 0.5em;
  width: 1.8rem;
  height: 1.8rem;
  display: grid;
  justify-content: center;
  color: var(--color-text);
  background: var(--color-shade-one);
}

.nav__active {
  color: var(--color-primary);
  background: var(--color-shade-two);
}

.nav__button:disabled {
  cursor: default;
  color: var(--color-disabled);
  background: var(--color-shade-one);
}

.nav__button:not(:disabled):hover {
  background: var(--color-shade-three);
}

.nav svg,
.nav img {
  width: 16px;
  height: 16px;
  color: inherit;
}

.nav__border {
  border-top: 1px solid var(--color-shade-three);
}
