.button {
  border: 1px solid var(--color-shade-three);
  opacity: 50%;
  transition: 0.2s ease-in;
  border-radius: 2px;
  min-width: 2.5rem;
}

.button:hover {
  opacity: 100%;
}

.favorite {
  background: var(--color-shade-three);
  opacity: 100%;
}
