.button {
  border: 1px solid var(--color-shade-three);
  opacity: 0.5;
  transition: 0.2s ease-in;
  border-radius: 2px;
  min-width: 2.5rem;
}

.button:hover {
  opacity: 1;
}

.favorite {
  background: var(--color-shade-three);
  opacity: 1;
}
