.container {
  padding: 1rem;
  display: grid;
  align-content: baseline;
  row-gap: 1rem;
  overflow: auto;
}

.label {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.label input {
  padding: 0;
}

.link button {
  padding: 0;
}

.link button:hover {
  color: var(--color-primary);
}
