.container {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  overflow: auto;
}

.items {
  overflow: auto;
  min-height: 100px;
}

.actions {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  padding: 0.5em 0.2em;
  border-bottom: 1px solid var(--color-shade-three);
}

.actions > * {
  width: 100%;
}

.loadMore {
  width: 100%;
  margin: 1rem 0;
}
