.container {
  display: grid;
  padding: 0.25em 0.5em;
  row-gap: 0.2rem;
  text-transform: uppercase;
  transition: 0.2s background-color ease-in;
  position: relative;
}

.container:hover {
  cursor: pointer;
  background-color: var(--color-shade-three);
}

.distance {
  font-size: 0.8em;
}

.selected {
  color: var(--color-primary);
  background-color: var(--color-shade-two);
}
