.container {
  display: grid;
  row-gap: 0.5em;
  background: var(--color-shade-one);
  padding: 0.5em;
}

.button {
  padding: 0.5em;
  background: var(--color-shade-two);
  color: var(--color-primary);
}

.button:disabled {
  color: var(--color-trivial);
  cursor: default;
}

.label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.5em;
}
