.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 0.5em;
  height: 100%;
}

.map {
  height: 100%;
}

.save {
  padding: 1em;
  background: var(--color-shade-two);
  color: var(--color-primary);
}

.marker {
  height: 2rem;
  display: inline-flex;
  align-items: center;
}

.marker img {
  height: 100%;
}
