.container {
  display: grid;
  row-gap: 0.5em;
  background: var(--color-shade-one);
  padding: 0.5em;
}

.label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.5em;
}

.regions {
  color: var(--color-trivial);
}
