.container {
  display: grid;
  row-gap: 1rem;
}

.tokenContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.label {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
  flex: 1;
  position: relative;
}

.label input {
  border: 1px solid var(--color-shade-three);
  padding: 0.4em;
}

.suggestions {
  position: absolute;
  z-index: 99000;
  background: var(--color-shade-three);
  width: 100%;
  max-height: 8rem;
  overflow: auto;
  border: 1px solid var(--color-shade-two);
  top: 100%;
}

.suggestion {
  width: 100%;
  padding: 0.4em;
}

.suggestion:hover {
  background: var(--color-shade-two);
}

.guide {
  font-size: 0.8em;
}
