.container {
  display: grid;
  gap: 0.5em;
  align-items: center;
  justify-content: stretch;
  padding: 0.5em;
  border-bottom: 1px solid var(--color-shade-three);
  text-align: left;
}

.welcome {
  display: flex;
  justify-content: space-between;
}

.logout {
  color: lightcoral;
}
