.container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 0.5rem;
  background: var(--color-shade-one);
  padding: 0.5em;
}

.active {
  text-decoration: underline;
}

.key {
  width: 6rem;
  display: inline-block;
  padding: 0.2em 0;
}
