*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: var(--color-shade-three);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  opacity: 0.5;
}

:root {
  --color-primary: #ffb10f;
  --color-secondary: lightblue;
  --color-text: #b2b2b2;
  --color-trivial: #888;
  --color-shade-two: #141312;
  --color-shade-three: #333;
  --color-shade-four: #efefef;
  --color-disabled: #4e4e4e;
  --color-alert: #b61313;
  --border-radius: 0.5em;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  padding-top: 0.1em;
  margin: 0;
}

input,
textarea,
select {
  background: none;
  color: inherit;
  border: none;
  padding: 0.4em;
  outline: none;
}

button,
input[type='submit'],
a {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-text);
  transition: all 0.1s ease-in;
}

input:disabled {
  color: var(--color-trivial);
}

small {
  font-size: 0.7em;
  color: var(--color-trivial);
}

hr {
  border-color: rgb(234 234 234 / 20%);
}
