.container {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  transition: 0.2s opacity ease-in;
  display: grid;
  place-items: center;
  border: 2px solid #101010;
}

.container::before {
  box-shadow: inset 0 0 8px 2px rgb(0 0 0 / 77%);
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
}

.hideOnHover:hover {
  opacity: 0.1 !important;
}

.minimap {
  height: 150%;
  width: 150%;
  pointer-events: none !important;
}

.minimap * {
  pointer-events: none !important;
}

.setup {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.toolbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em;
  background: #000000a6;
  display: grid;
  font-size: 0.8rem;
  overflow: auto;
}

.bottomRightBorder {
  cursor: se-resize;
  color: white;
  height: 2rem;
  width: 2rem;
}

.move {
  cursor: move;
}

.hint {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: 0.2s opacity ease-in;
  pointer-events: none;
}

.hideOnHover:hover + .hint,
.hint.visible {
  opacity: 0.5;
}
