.backdrop {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 50%);
  z-index: 9000;
  display: grid;
  place-items: center;
}

.content {
  border: 1px solid var(--color-shade-two);
  background-color: var(--color-shade-one);
  padding: 1em;
  width: 100%;
  max-width: 800px;
  max-height: 560px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.fitContent {
  width: fit-content;
  height: fit-content;
}

.header {
  position: relative;
  text-align: center;
}

.title {
  margin-bottom: 1em;
  margin-right: 1em;
}

.close {
  display: grid;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  padding: 0;
  color: var(--color-text);
  height: 0.7em;
  width: 0.7em;
}

.close svg {
  height: 100%;
  width: 100%;
}

.main {
  overflow: auto;
}
