.map {
  height: 100%;
  width: 100%;
  background: #859594 !important;
  transition: transform 1s linear;
}

.follow {
  position: absolute;
  z-index: 9999;
  bottom: 12px;
  left: 12px;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.follow--active {
  background: var(--color-primary);
  color: var(--text-color);
}

/* stylelint-disable */
:global(.leaflet-container) {
  font-family: var(--font-family-secondary);
}

:global(.leaflet-position) {
  color: rgb(209, 209, 209);
  text-shadow: 1px 1px 2px #000000;
}

:global(.leaflet-player-position) {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
}

:global(.leaflet-own-player-marker) {
  pointer-events: none !important;
}

:global(.leaflet-polygon-text) {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  width: auto !important;
  background: none !important;
  border: none !important;
  font-size: 1em;
}

:global(.leaflet-polygon-text-0) {
  font-size: 0.5em;
}

:global(.leaflet-polygon-text-1) {
  font-size: 0.8em;
}

:global(.leaflet-revert) {
  background: #f4f4f4;
  color: #000;
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

:global(.action-finish),
:global(.action-finishMode) {
  background: green !important;
}

:global(.action-removeLastVertex) {
  background: #00698c !important;
}

:global(.action-cancel) {
  background: #a50000 !important;
}
/* stylelint-enable */

.respawn {
  pointer-events: none;
}

.respawn > :not(:first-child) {
  display: none;
}

.respawn > :first-child {
  background: none;
  box-shadow: none;
  pointer-events: none;
  padding: 0;
}

.respawn > :first-child > :first-child {
  margin: 0;
  color: white;
  text-shadow: 0 0 2px black, 0 0 3px black;
  font-size: 1rem;
  text-align: center;
}
