.container {
  overflow: hidden;
  display: grid;
  grid-template: auto 1fr auto / 1fr 30%;
  gap: 0.5em;
  height: 100%;
}

.header {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1em;
  border-bottom: 1px solid var(--color-shade-three);
  padding-bottom: 0.5em;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
}

.icon {
  max-width: 64px;
  max-height: 64px;
  width: auto;
  height: auto;
}

.preview {
  width: 100%;
  height: 130px;
  object-fit: contain;
}

.button {
  width: max-content;
  margin-top: -7px;
}

.main {
  display: grid;
  overflow: hidden;
}

.grow {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}

.loot {
  height: 240px;
  overflow: auto;
  border-bottom: 1px solid var(--color-shade-three);
  padding-right: 1rem;
}

.comments {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.empty {
  margin: 1rem auto;
}

.aside {
  display: flex;
  justify-content: space-between;
}

.more {
  display: grid;
  align-content: baseline;
  gap: 1em;
  overflow: auto;
}

.userSelect {
  user-select: all;
}
