.container {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
  margin-left: 1em;
}

.label {
  font-size: 0.7em;
  filter: grayscale() brightness(0.5);
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  cursor: pointer;
  padding: 0.1rem;
  background-color: var(--color-shade-two);
  transition: 0.2s ease-in;
}

.label > input {
  display: none;
}

.active {
  filter: none;
  color: var(--color-primary);
}
